target/
.classpath
.project
.settings/
.springBeans
.metadata/
*.ipr
*.iws
*.iml
.idea/
*.swp
*.swo
*.swn
*.DS_Store

logs/*
src/main/resources/conf
**/global_merged.properties
src/main/resources/log4j2.xml

thrift/code/movie-comment-thrift/target
src/main/resources/jmonitor.properties
src/main/resources/application.xml
src/main/webapp/WEB-INF
src/main/resources/jetty/jetty.xml
src/main/resources/jetty/boot.ini
src/main/resources/jetty/boot.properties
src/main/resources/value.properties