*{margin: 0;padding: 0;border: 0;}
body {
  	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  	background: #f0f2f5;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em; /* =16px */
}
img{
	max-width: 100%;
}
a:visited{
	color: #ffffff;
}
a:active{
	color: #ffffff;
}
